---
const {carName,carimage,cartext} = Astro.props
---

<div class="card  carousel-item mob:w-96  shadow-xl bg-primary text-primary-content">
  <figure class="px-10">
    <img
      src="/images/carcag.jpg"
      alt="Shoes"
      class="rounded-xl"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Maserati 2020</h2>
    <p>MSA airport luxery sdan</p>
  </div>
</div>
