---
const pd = {
  headline:"the best airport Limousine service in the world",
  botton:"Book Now",
  headtext:"We are the best in the world",
  background:""
}
--- 
<div class="hero min-h-screen" style="background-image: url('images/image3.jpg')">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-2xl md:text-3xl lg:text-4xl font-dl md:max-w-lg">{pd.headline}</h1>
      <p class="mb-5 text-lg font-es">{pd.headtext}</p>
      <button class="btn  btn-secondary font-os">{pd.botton}</button>
    </div>
  </div>
</div>