---
const {text,title,image} = Astro.props
---
  <div class="card servercard w-full inline-flex  rounded-none md:flex-row md:gap-4 bg-base-100 md:max-h-48  shadow-xl">
    <figure><img  src=`images/${image}` alt="Shoes" class="md:h-48 sm:h-64 w-full" /></figure>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p class="md:max-w-sm">{text}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm">learn more</button>
      </div>
    </div>
  </div>
<style lang="sass">
  .servercard
    opacity: 0
    transition: all 1s
    transform: translateX(100%)
    filter: blur(10px)
  .show
    opacity: 1
    filter: blur(0px)
    transform: translateX(0%)
</style>